footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
  position: relative;
  bottom: 0;
  flex-wrap: wrap;
  display: none;
}

.footer-visible {
  display: flex;
}

.footer-left {
  margin-left: 30px;
  text-align: left;
  flex: 1;
  font-size: 12px;
}

.footer-center {
  text-align: center;
  flex-grow: 1;
}

.footer-right {
  text-align: right;
  flex: 1;
}

.footer-logo {
  width: 70px !important;
  height: auto;
  margin-left: -50px !important;
}

.footer-powered {
  margin-right: 40px;
  display: block;
  margin-top: 5px;
  color: #151515;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
}

/* Ajustes para mobile */
@media (max-width: 480px) {
  footer {
    position: static !important;
    width: 90% !important;
    margin: 0 auto !important;
    padding: 5px 10px !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    background-color: #fff !important;
  }
  
  .footer-left {
    margin-left: 0 !important;
    font-size: 10px !important;
    flex: 1 !important;
    text-align: left !important;
  }
  
  .footer-center {
    flex: none !important;
    text-align: center !important;
  }
  
  .footer-right {
    margin-right: 0 !important;
    font-size: 10px !important;
    flex: 1 !important;
    text-align: right !important;
  }
  
  .footer-logo {
    width: 40px !important;
    margin-left: 0 !important;
  }
  
  .footer-powered {
    font-size: 10px !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
  }
}
