.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: none;
    box-shadow: none;
  }
  
  .header-content {
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header-content .GS {
    margin-left: 50px;
    width: 45px;
    height: auto;
    margin-right: 10px;
  }
  
  .header-logo-center {
    margin-right: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .header-logo-center img {
    max-height: 100px;
  }
  
  .nav-large {
    text-decoration: none;
    color: #333;
    font-size: 22px;
    font-weight: bold;
  }
  
  .nav-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-menu-icons {
    margin-right: 80px;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .nav-menu-icons li {
    display: inline;
  }
  
  .nav-menu-icons li a {
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-menu-icons li img {
    width: 24px;
    height: 24px;
    transition: filter 0.3s;
  }
  
  .nav-menu-icons li:hover img {
    filter: invert(31%) sepia(92%) saturate(7402%) hue-rotate(349deg) brightness(90%) contrast(115%);
  }
  