/* Garantindo que todo elemento dentro do modal utilize o box-sizing correto */
.modal2, .modal2 * {
  box-sizing: border-box;
}

.modal2-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Regra aplicada a todos os modais do Modal2 para padronizar o tamanho */
.modal2-parcelamento {
  width: 70% !important;       /* Largura padrão */
  max-width: 400px !important;  /* Limite da largura */
  padding: 15px !important;     /* Padding interno */
}

/* Responsividade para dispositivos móveis no Modal2 */
@media (max-width: 480px) {
  .modal2{
    width: 90% !important;
    max-width: 320px !important;
    padding: 12px !important;
  }
}

/* Financiamento form styling */
.financiamento-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.financiamento-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.financiamento-form input,
.financiamento-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botões internos dos formulários e modais */
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.btn {
  width: 100%; /* Já leva em consideração o box-sizing para não ultrapassar */
  padding: 10px;
  border: 2px solid #151515; /* Borda na cor do fundo */
  border-radius: 5px;
  background-color: transparent;
  color: #151515;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #151515;
  color: #fff;
}

/* Botões do carrossel */
.carousel-btn {
  background-color: #ffffff;
  color: #151515;
  border: 2px solid #151515;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.carousel-btn:hover {
  background-color: #151515;
  color: #ffffff;
}

/* Container do carrossel */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Imagem do carrossel */
.carousel-img {
  width: 80%;
  border-radius: 10px;
  margin: 0 20px;
}

/* Responsividade para dispositivos móveis no carrossel */
@media (max-width: 480px) {
  .carousel-container {
    flex-direction: column;
  }
  
  .carousel-img {
    width: 100%;
    margin: 10px 0;
  }
  
  .carousel-btn {
    margin: 5px 0;
    width: auto;
  }
}
