.modal2-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.financiamento-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.financiamento-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.financiamento-form input,
.financiamento-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 10px;
  border: 2px solid #151515; /* Borda na cor do fundo */
  border-radius: 5px;
  background-color: transparent;
  color: #151515;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #151515;
  color: #fff;
}
