/* Overlay do Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

/* Container do Modal padrão */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Regra aplicada a todos os modais (via classe modal-parcelamento) */
.modal-parcelamento {
  width: 70% !important;       /* Define que o modal ocupará 70% da largura disponível */
  max-width: 400px !important;  /* Limita a largura máxima a 400px */
  padding: 15px !important;     /* Reduz o padding para um visual mais compacto */
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form label {
  display: block;
  margin: 10px 0;
}

.modal form input,
.modal form select {
  display: block;
  width: 90%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal form .btn {
  margin-top: 20px;
  text-align: center;
}

/* Botões do carrossel */
.carousel-btn {
  background-color: #ffffff;
  color: #151515;
  border: 2px solid #151515;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.carousel-btn:hover {
  background-color: #151515;
  color: #ffffff;
}

/* Container do carrossel */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Estilização da imagem do carrossel */
.carousel-img {
  width: 80%;
  border-radius: 10px;
  margin: 0 20px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  .carousel-container {
    flex-direction: column;
  }
  
  .carousel-img {
    width: 100%;
    margin: 10px 0;
  }
  
  .carousel-btn {
    margin: 5px 0;
    width: auto;
  }
}

/* Estilização das opções de parcelamento */
.parcelas-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
}

.parcelas-option {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #151515;
  display: block;
  width: 95%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.parcelas-option input {
  margin-right: 8px;
  transform: scale(1.2);
}
